<div class="note-list__wrapper">
  <button [routerLink]="['/add']">Add note</button>
  <form [formGroup]="searchForm" class="search__form">
    <input type="text" formControlName="search" placeholder="Search notes" />
    <select name="sort" id="sort" formControlName="sort">
      <option value="" disabled selected>Sort your notes</option>
      <option value="new">По возрастанию даты</option>
      <option value="old">Убыванию даты</option>
    </select>
  </form>
  <div class="note-list">
    @for(note of this.service.data$|async; track note.id){
    <div
      class="note"
      [routerLink]="['main', note.id]"
      [routerLinkActive]="['active-link']"
    >
      <h2 class="note__title">{{ note.title }}</h2>
      <div class="note__description">{{ note.description }}</div>
      <button class="delete__btn" (click)="deleteNote(note.id)">Delete</button>
    </div>
    }
  </div>
</div>
